.list{
    background-color: #FFF;
    width: 60vw;
    max-width: 80vw;
    position: relative;
    top: 20%;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    border-radius: 20px;
    margin: 100px 0;
}

.list__container{
    width: 100%;
    padding: 70px 50px;
    font-size: 20px;
}